In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.naive_bayes import MultinomialNB

import exploringShipLogbooks.wordCount as wc
from exploringShipLogbooks.basic_utils import extract_logbook_data
from exploringShipLogbooks.basic_utils import isolate_columns
from exploringShipLogbooks.basic_utils import isolate_training_data

from exploringShipLogbooks.config import *

# code that has been tested
- this should all run :) the rest of the functions still need to be made

In [2]:
from exploringShipLogbooks.classification import LogbookClassifier
cl = LogbookClassifier()
cl.load_data(['cliwoc','slave_voyages'])
cl.encode_ship_names()
cl.find_logs_that_mention_slaves()
cl.find_training_data({'ShipName': non_slave_ships})
cl.join_data()
cl.encode_data()

# example of how to access data from outside of the classifier, if you want it

In [7]:
cl.cliwoc_data.head()

,VoyageFrom,VoyageTo,ShipType,Nationality,Year,slave_logs
LogbookIdent,,,,,,
0,Fishing grounds,NaN,NaN,Dutch,1785,0
1,Fishing Grounds,NaN,NaN,Dutch,1789,0
2,BARCELONA,CARTAGENA,FALUCHO,Spanish,1847,0
3,CADIZ,MELILLA,MISTICO,Spanish,1849,0
4,BARCELONA,MARAÑÓN,BERGANTÍN,Spanish,1848,0

In [8]:
cl.slave_voyage_logs.head()

,Nationality,ShipType,VoyageFrom,VoyageTo,Year,slave_logs
1651,Portugal,Bergantim,Rio de Janeiro,Alicante,1816,3
1652,Spain,Bergantim,"Bahia, port unspecified",Alicante,1816,3
1653,Spain,Bergantim,"Bahia, port unspecified",Alicante,1816,3
1654,Spain,Bergantim,"Bahia, port unspecified",Alicante,1816,3
1655,Spain,Galera,Alicante,Alicante,1817,3

In [9]:
cl.all_data.head()

  Nationality   ShipType       VoyageFrom   VoyageTo  Year  slave_logs
0       dutch        nan  fishing grounds        nan  1785           0
1       dutch        nan  fishing grounds        nan  1789           0
2     spanish    falucho        barcelona  cartagena  1847           0
3     spanish    mistico            cadiz    melilla  1849           0
4     spanish  bergantín        barcelona    marañón  1848           0

In [10]:
cl.all_data.tail()

      Nationality ShipType VoyageFrom  VoyageTo  Year  slave_logs
34401    portugal     brig   alicante  alicante  1849           3
34402      france     brig   alicante  alicante  1850           3
34403       spain     brig     havana  alicante  1851           3
34404    portugal  patacho   alicante  alicante  1851           3
34405       spain     brig   alicante  alicante  1851           3