In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.naive_bayes import MultinomialNB

import exploringShipLogbooks.wordCount as wc
from exploringShipLogbooks.basic_utils import extract_logbook_data
from exploringShipLogbooks.basic_utils import isolate_columns
from exploringShipLogbooks.basic_utils import isolate_training_data

from exploringShipLogbooks.config import *

In [56]:
class LogbookClassifier:

    def __init__(self):
        self.classifier = MultinomialNB(alpha=1.0,
                                        class_prior=None,
                                        fit_prior=True)

    def load_data(self, data_sets):

        if 'slave_voyages' in data_sets:
            file_name = './exploringShipLogbooks/data/tastdb-exp-2010'
            self.slave_voyage_logs = pd.read_pickle(file_name)

        if 'cliwoc' in data_sets:
            self.cliwoc_data = extract_logbook_data('CLIWOC15.csv')

        if 'slave_voyages' not in data_sets and 'cliwoc' not in data_sets:
            print('Warning: no data loaded. Currently data extraction is',
                  ' only implemented for cliwoc15 data (cliwoc) and slave',
                  'voyages logs (slave_voyages).')

    def find_logs_that_mention_slaves(self):
        slave_mask = wc.count_key_words(self.cliwoc_data, text_columns, slave_words)

    def find_training_data(self, criteria):
        """

        """
        mask = isolate_training_data(self.cliwoc_data, criteria)

        return mask

    def join_data(self):

        # isolate desired columns from cliwoc data
        self.cliwoc_data = isolate_columns(self.cliwoc_data, desired_columns)

        # drop slave_voyage_logs with empty year column
        year_ind = ~(self.slave_voyage_logs['yeardep'].isnull())
        self.slave_voyage_logs = self.slave_voyage_logs[year_ind]

        # drop slave_voyage data from before beginning of cliwoc data
        ind = (self.slave_voyage_logs['yeardep'] > self.cliwoc_data['Year'].min()) \
            & (self.slave_voyage_logs['yeardep'] < self.cliwoc_data['Year'].max())
        self.slave_voyage_logs = self.slave_voyage_logs[ind]

        # clean slave_voyage logs to have columns that match cliwoc
        slave_voyage_desired_cols = list(slave_voyage_conversions.keys())
        slave_voyage_logs = isolate_columns(self.slave_voyage_logs,
                                            slave_voyage_desired_cols)

        slave_voyage_logs.rename(columns=slave_voyage_conversions, inplace=True)

        cliwoc_indices = pd.Series(0, index=self.cliwoc_data.index)
        slave_voyages_indices = pd.Series(0, index=(range(len(self.slave_voyage_logs)) + (self.cliwoc_data.tail(1).index[0]+1)))
        
        self.all_data = pd.concat([self.cliwoc_data, self.slave_voyage_logs], ignore_index=True)

        return cliwoc_indices, slave_voyages_indices
    
    def encode_data(self):
        
        pass
    
    def fit_classifier(self, masks, classes):
        # convert to np array
        # join all masks and classes (i.e. pos and neg)
        # add what columns
        # fit data
        pass
    

    def validate_classifier(self, masks, desired_vals):
        pass
    
    def classify(self, masks):
        pass

# code that has been tested
- this should all run :) the rest of the functions still need to be made

In [57]:
cl = LogbookClassifier()
cl.load_data(['cliwoc','slave_voyages'])

#slave_mask = cl.find_logs_that_mention_slaves()
training_mask_neg = cl.find_training_data({'ShipName': non_slave_ships})

C:\Users\Emma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3066: DtypeWarning: Columns (5,6,7,8,11,13,18,19,23,24,25,26,28,29,30,34,35,38,43,44,46,73,77,81,82,84,85,87,88,94,96,97,98,99,111,114,116,119,120,122,124,125,127,129,131,133,135,137,140) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# code that will be fixed after i sleep

In [60]:
# for some reason all data has a bunch of extra columns?
cliwoc_indices, slave_voyage_indices = cl.join_data()

# example of how to access data from outside of the classifier, if you want it

In [42]:
cl.cliwoc_data.head()

                         VoyageFrom  VoyageTo   ShipType Nationality  Year
0  ISLA DE ALBIMOR EN LAS GALAPAGOS   PACOCHA    FRAGATA     Spanish  1800
1   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  PAQUEBOTE     Spanish  1790
2   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  PAQUEBOTE     Spanish  1790
3   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  PAQUEBOTE     Spanish  1790
4   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  PAQUEBOTE     Spanish  1790

In [59]:
cl.all_data.head()

,Date_buy,Date_dep,Date_depam,Date_end,Date_land1,Date_land2,Date_land3,Date_leftAfr,Nationality,ShipType,...,xmimpflag,year10,year100,year25,year5,yearaf,yearam,yeardep,yrcons,yrreg
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spanish,FRAGATA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spanish,PAQUEBOTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spanish,PAQUEBOTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spanish,PAQUEBOTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spanish,PAQUEBOTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN