# Second dataset - http://www.slavevoyages.org

- http://www.slavevoyages.org/documents/download/Codebook2013_5-3_final.pdf

## Import necessary packages

In [1]:
import zipfile

import ipywidgets as widgets
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import exploringShipLogbooks.wordCount as wc

from exploringShipLogbooks.basic_utils import clean_data
from exploringShipLogbooks.basic_utils import create_widget
from exploringShipLogbooks.basic_utils import extract_logbook_data
from exploringShipLogbooks.basic_utils import remove_undesired_columns

## Import packages related to R

In [2]:
import rpy2
from rpy2.robjects import pandas2ri
pandas2ri.activate()

## Importing data using R

In [3]:
filename = './exploringShipLogbooks/data/tastdb-exp-2010.sav'
data = rpy2.robjects.r('foreign::read.spss("%s", to.data.frame=TRUE)' % filename)

/Applications/miniconda3/lib/python3.5/site-packages/rpy2/robjects/functions.py:106: UserWarning: re-encoding from latin1

  res = super(Function, self).__call__(*new_args, **new_kwargs)

In [ ]:
data.head()

In [ ]:
data.columns.values

In [4]:
def clean_data(df):
    df['VoyageFrom'] = df['VoyageFrom'].astype(str).map(lambda x: x.lower().rstrip())
    df['VoyageTo'] = df['VoyageTo'].astype(str).map(lambda x: x.lower().rstrip())
    df['ShipName'] = df['ShipName'].astype(str).map(lambda x: x.lower().rstrip())
    df['ShipType'] = df['ShipType'].astype(str).map(lambda x: x.lower().rstrip())
    df['Nationality'] = df['Nationality'].astype(str).map(lambda x: x.lower().rstrip())
    data['Year'][data['Year'].notnull()].astype(int)
    df['Year'] = df['Year'].astype(str).map(lambda x: x.lower().rstrip())
    return df

In [5]:
desired_columns=['portdep', 'portret', 'shipname', 'rig', 'national', 'yeardep']
undesired_columns = remove_undesired_columns(data, desired_columns)
data = data.drop(undesired_columns, axis=1)

data.columns = ['ShipName', 'Nationality', 'ShipType', 'VoyageFrom', 'VoyageTo', 'Year']
     
logbook_data = clean_data(data)

In [7]:
logbook_data.head()

,ShipName,Nationality,ShipType,VoyageFrom,VoyageTo,Year
1,pastora de lima,portugal,bergantim,rio de janeiro,alicante,1816.0
2,tibério,spain,bergantim,"bahia, port unspecified",alicante,1816.0
3,paquete real,spain,bergantim,"bahia, port unspecified",alicante,1816.0
4,bom caminho,spain,bergantim,"bahia, port unspecified",alicante,1816.0
5,benigretta,spain,galera,alicante,alicante,1817.0

# One hot encoding

In [8]:
from exploringShipLogbooks.basic_utils import encode_data_df

In [9]:
encoded_data_df = encode_data_df(logbook_data)

In [10]:
classification_array = np.array(encoded_data_df)

In [11]:
encoded_data_df.head()

,,'s-graveland,.,aaron frigate,aartshertogin maria christina,abbott devereux,abby,abecerraje,abeille,abencerrage,...,1858.0,1859.0,1860.0,1861.0,1862.0,1863.0,1864.0,1865.0,1866.0,nan
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0