# Second dataset - http://www.slavevoyages.org

- http://www.slavevoyages.org/documents/download/Codebook2013_5-3_final.pdf

## Import necessary packages

In [1]:
import zipfile

import ipywidgets as widgets
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import exploringShipLogbooks.wordCount as wc

from exploringShipLogbooks.basic_utils import clean_data
from exploringShipLogbooks.basic_utils import remove_undesired_columns

## Import packages related to R

In [ ]:
import rpy2
from rpy2.robjects import pandas2ri
pandas2ri.activate()

## Import data using R

In [ ]:
filename = './exploringShipLogbooks/data/tastdb-exp-2010.sav'
data = rpy2.robjects.r('foreign::read.spss("%s", to.data.frame=TRUE)' % filename)

- save the data loaded from R for use on windows computer

In [ ]:
store = pd.HDFStore('./exploringShipLogbooks/data/tastdb-exp-2010.h5')
store['df'] = data

## Import data (h5)

- http://stackoverflow.com/questions/17098654/how-to-store-data-frame-using-pandas-python

In [2]:
store = pd.HDFStore('./exploringShipLogbooks/data/tastdb-exp-2010.h5')
data = store['df']

In [4]:
data.head()

,voyageid,evgreen,shipname,placcons,constreg,yrcons,placreg,regisreg,yrreg,national,...,adlt2imp,chil2imp,male2imp,feml2imp,filter_.,ncartot,pctemb,slastot,pctdis,datepl
1,1,1,Pastora de Lima ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Portugal,...,NaN,NaN,NaN,NaN,Selected,NaN,NaN,NaN,NaN,Invoice date at port of departure
2,2,1,Tibério ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Spain,...,NaN,NaN,NaN,NaN,Not Selected,NaN,NaN,NaN,NaN,Invoice date at port of departure
3,3,1,Paquete Real ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Spain,...,NaN,NaN,NaN,NaN,Selected,NaN,NaN,NaN,NaN,Guia de despacho (added)
4,4,1,Bom Caminho ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Spain,...,NaN,NaN,NaN,NaN,Selected,NaN,NaN,NaN,NaN,Invoice date at port of departure
5,5,1,Benigretta ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Spain,...,NaN,NaN,NaN,NaN,Not Selected,NaN,NaN,NaN,NaN,Invoice date at port of departure

In [ ]:
data.columns.values

In [5]:
desired_columns=['portdep', 'portret', 'shipname', 'rig', 'national', 'yeardep']
undesired_columns = remove_undesired_columns(data, desired_columns)
data = data.drop(undesired_columns, axis=1)

data.columns = ['ShipName', 'Nationality', 'ShipType', 'VoyageFrom', 'VoyageTo', 'Year']
     
logbook_data = clean_data(data)

In [6]:
logbook_data.head()

,ShipName,Nationality,ShipType,VoyageFrom,VoyageTo,Year
1,pastora de lima,portugal,bergantim,rio de janeiro,alicante,1816
2,tibério,spain,bergantim,"bahia, port unspecified",alicante,1816
3,paquete real,spain,bergantim,"bahia, port unspecified",alicante,1816
4,bom caminho,spain,bergantim,"bahia, port unspecified",alicante,1816
5,benigretta,spain,galera,alicante,alicante,1817

# One hot encoding

In [7]:
from exploringShipLogbooks.basic_utils import encode_data_df

In [8]:
encoded_data_df = encode_data_df(logbook_data)

In [9]:
classification_array = np.array(encoded_data_df)

In [10]:
encoded_data_df.head()

,,'s-graveland,.,aaron frigate,aartshertogin maria christina,abbott devereux,abby,abecerraje,abeille,abencerrage,...,sète,tenerife,texel,vannes,vlissingen,wales,whitehaven,williamsburg,zeeland,Year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1816
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1816
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1816
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1816
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1817